body, html{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

 body {
    font-family: Camphor W01 Regular;
}
   
html, body {
   background-color: #E8E6E1;
  }

  .middle{
    max-width: 840px;
    margin: 0 auto;

}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    /* max-width: 860px; */
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* justify-content: space-between; */
    
}

header{
    background-image: linear-gradient(to right, #a25b5b, #692e4c); 
    /* padding: 1.5em 2em; */
}

header h1{
    margin-top: 0;
    font-size: 1.6em;
}

.header-top{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    padding-bottom: 50px;
}

.header-top a{
    color: inherit;
}

.nav{
    display: flex;
    justify-content: center;
}

.nav > a {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
}

.section{
    padding: 20px;
}

footer{
    background-color: #a25b5b;
    margin-top: 170px;
   height: 244px;
}

.flex,.row
{
    display: flex;
}

.col{
    flex: 1;
    padding: 10px;
}



.footer-contents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.wrapper{
    width: 80%;
    margin:  0 auto;
}
.dtexts{
   /* background: #eee; */
   width: 18rem;

}
 


.dtexts2 a{
     text-decoration: none;
     color: #fff;
    
     transition: 0.5s ease;
     
} 
.dtexts2 a:hover{
    text-decoration: none;
    color: #558ba0;
}

@media only screen and (max-width:600px){
    .footer-contents{
        display: block;
    } 
    
    .dtexts{
        margin-bottom: 15px;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    .dtexts2 {
        width:100%;
        text-align: center;
    }
    .dtexts2 a{
        background: #78b9d3;
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
    }
}
